
.wrapper{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}
.label {
    height: 2rem;
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    color: var(--black);
}

.button{
   padding: 0.25rem 0.5rem;
}

.dropdownBox{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.listItem{
    padding: 0.5rem 1rem;
}

.dropdownArea{
    position: absolute;
    top: 2rem;
    right: 0;
    z-index: 1;
}

.active{
    color: tomato;
}