
.container {
    font-family: "Ubuntu";
    font-style: normal;
    font-size: 0.8125rem;
    font-weight: 400;
    background-color: inherit;
  }

  .container .input:read-only{
    cursor: pointer;
  }
  
  .inputLabel {
    display: inline-block;
    height: 1rem;
    margin-bottom: 0.5rem;
  }
  
  .area{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    height: 2rem;
    border: 1px solid var(--color-blue);
    border-radius: 0.25rem;
    background-color: var(--white);
  }
  
  .label{
    margin-left: 0.5rem;
    color: var(--black);
    background-color: inherit;
  }
  
  .input {
    box-sizing: border-box;
    width: calc(100% - 1.75rem);
    height: 1rem;
    border: 0;
    margin: 0;
    padding: 0.5rem 0.25rem 0.5rem 0.25rem;
    color: var(--black);
    background-color: var(--white);
  }
  
  .input::placeholder {
    color: var(--color-light-blue-disabled);
  }
  
  .input:focus {
    outline: none;
  }

  .incorrect .area {
    border: 1px solid var(--color-red);
  }
  
  .incorrect .input {
    width: calc(100% - 1.9rem);
  }

  .buttonAction {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5rem;
    height: 1.5rem;
    padding: 0;
    border: 0;
    background: transparent;
  }
  
  .actionIcon {
    height: 1rem;
    width: 1rem;
    cursor: pointer;
    margin-right: 0.25rem;
    stroke: var(--color-light-blue);
    fill: var(--color-light-blue);
  }
  
  .IconIncorrect {
    stroke: var(--color-light-blue);
  }
  
  .disabled .area {
    background-color: var(--color-light-blue);
  }
  
  .input:disabled {
    width: calc(100% - 1.9rem);
    background-color: var(--color-light-blue);
    color: black;
  }

  .input:disabled::placeholder {
    color: var(--white);
    background-color: inherit; 
  }

  .IconDisabled {
    height: 1rem;
    width: 1rem;
    cursor: pointer;
    margin-right: 0.25rem;
    fill: var(--black);
    background-color: inherit;
    
  }

  .IconNormal{
    stroke: var(--color-light-blue);
    fill: var(--color-light-blue);
  }
  
  
