.container{
    display: flex;
    align-items: center;
    gap: 0.25rem;
    background-color: inherit;
}

.item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5rem;
    height: 1.5rem;
    background-color: inherit;
    color: var(--color-blue);
    cursor: pointer;
}

.dots{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5rem;
    height: 1.5rem;
    color: var(--color-blue);
    background-color: inherit;
}


.area{
    display: flex;
    align-items: center;
    height: 1rem;
    
}

.pages{
    display: flex;
    gap: 0.5rem;
    background-color: var(--filter-color);
}

.selected{
    border-radius: 0.25rem;
    background-color: var(--color-blue);
    color: var(--white);
}