.text{
    display: inline-block;
    height: 1rem;
    margin-bottom: 0.5rem;
}

.standart{
    width: 12rem;
}

.checkboxText{
    height: 2rem;
    padding: 0.5rem 3rem 0.5rem 1rem;
    background-color: inherit;
    box-sizing: border-box;
    cursor: pointer; 
  }
  