._{
    display: flex;
    align-items: center;
    height: 2rem;
    background-color: var(--filter-color);
    margin: 0rem 1.5rem 0 1rem;
    box-sizing: border-box;
}

.text{
    margin-left: auto;
    background-color: inherit;
    margin-right: 1rem;
    color: var(--black);
}