._{
    display: flex;
    align-items: center;
    width: 27.5rem;
}

.cell{
    display: flex;
    align-items: center;
    color: var(--black);
    margin-left: 0.5rem;
    
}

.cell:nth-child(1) {
    width: 25%;
  }
  
  .cell:nth-child(2) {
    width: 50%;
  }
  
  .cell:nth-child(3) {
    width: 25%;
  }