
.area{
    background-color: var(--filter-color);
}

.cell{
    box-sizing: border-box;
    height: 1.5rem;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    color: var(--color-blue);
    border: 0;
    border-radius: 0.25rem;
    background-color: var(--filter-color);
    cursor: pointer;
}

.active{
    color: white;
    background-color: var(--color-blue);
}

.nonactive{
    background-color: inherit;
}
