.wrapper{
  position: fixed;
  top: 8rem;
  right: 2rem;
  display: flex;
  align-items: stretch;
  justify-content: right;
  height: 100%;
  width: 100%;
  background-color: rgba(245, 238, 238, 0.1);
  backdrop-filter: blur(0.0325rem);
  overflow: hidden;
  overflow-y: auto;
  z-index: 999;
}

.modalOrder{ 
  position: relative;
  width: 30rem;
}

.modalHeader{
  position: relative;
  box-sizing: border-box;
  padding: 0 1rem 0 1rem;
}

.buttonAction {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5rem;
    height: 1.5rem;
    padding: 0;
    border: 0;
    background-color: inherit;
  }
  
  .actionIcon {
    height: 1rem;
    width: 1rem;
    cursor: pointer;
    margin-right: 0.25rem;
    stroke: white;
    background-color: inherit;
  }

.request{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 1.625rem;
    line-height: 2rem;
    background-color: inherit;
    color: #BAD8F5;
}

.container{
  margin-top: 2rem; 
}

.input{
  margin-top: 0.5rem;
  width: 27.5rem;
}

.text{
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

.table{
  height: 12rem;
}

.tableBody{
  height: 10rem;
}

.footer{
  margin-top: 2rem;
  padding: 0;
  left: 0;
  width: 100%;
}

.hidden {
  display: none;
}

.radioModal{
  position: absolute;
  border: 1px solid black;
  top: 23.5rem;
  left: 10rem;
}

.modalClose{
  z-index: 1000;
  position: absolute;
  top: 1rem;
  left: 17rem;
}