.button {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 0;
    margin: 0rem;
    border: 0;
    border-radius: 0.25rem;
    cursor: pointer;
    padding: 0.5rem 1rem 0.5rem 1rem;
    gap: 0.5rem;
  }
  
  /* .big {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0.5rem 1rem;
    margin: 0;
    height: 2rem;
    border: 0;
    border-radius: 0.25rem;
  }
  .medium {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 0.5rem 1rem;
    margin: 0;
    height: 2rem;
    border: 0;
    border-radius: 0.25rem;
  }

  .small {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 0.5rem;
    margin: 0;
    height: 2rem;
    border: 0;
    border-radius: 0.25rem;
  } */

  .buttonIcon {
    box-sizing: border-box;
    width: 1rem;
    height: 1rem;
  }

  .primary {
    background-color: var(--color-blue);
    color: var(--white);
  }
  
  .primary .buttonIcon {
    stroke: var(--white);
    fill: var(--white);
    background-color: var(--color-blue);
  }

  .transparent {
    background-color: inherit;
    color: var(--color-blue);
  }
  
  .transparent .buttonIcon {
    stroke: var(--color-blue);
    fill: var(--color-blue);
  } 



  
  


  