.button {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin: 0rem;
    border: 0;
    border-radius: 0.25rem;
    cursor: pointer;
    gap: 0.5rem;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
  }
  
  .buttonIcon {
    box-sizing: border-box;
    width: 1rem;
    height: 1rem;
  }

  .primary {
    background-color: var(--color-blue);
    color: var(--white);
  }
  
  .primary .buttonIcon {
    stroke: var(--white);
    fill: var(--white);
    background-color: var(--color-blue);
  }

  .transparent {
    background-color: inherit;
    color: var(--color-blue);
  }
  
  .transparent .buttonIcon {
    stroke: var(--color-blue);
    fill: var(--color-blue);
  } 
  .medium{
    padding: 0.25rem 0.5rem;
  }

  .big{
    padding: 0.5rem 1rem;
  }

  .delete{
    color: #FFFFFF;
    background-color: #F53152;
  }

  .delete .buttonIcon{
    stroke: #FFFFFF;
    background-color: inherit;
  }




  
  


  