.row{
  cursor: pointer;
}

.cell {
    display: flex;
    align-items: center;
    
    padding: 0.75rem 0.5rem;
    box-sizing: border-box;
    color: var(--black);
  }
  
  .groupCell{
    display: flex;
    align-items: center;
    height: 2.5rem;
    width: 100%;
    border-bottom: 1px solid var(--color-sensitive);
    cursor: pointer;
    gap: 0.2rem;
  }

 
  .cellOrder{
    display: flex;
    align-items: center;
    width: 6.75rem;
    height: 2.5rem;
    padding: 0.75rem 0.5rem;
  }

  .cellDate{
    display: flex;
    align-items: center;
    width: 11rem;
    height: 2.5rem;
    padding: 0.75rem 0.5rem;
  }

  .cellStatus{
    display: flex;
    align-items: center;
    width: 9rem;
    height: 2.5rem;
    padding: 0.75rem 0.5rem;
  }

  .cellAmount{
    display: flex;
    align-items: center;
    width: 8rem;
    height: 2.5rem;
    padding: 0.75rem 0.5rem;
  }

  .cellSum{
    display: flex;
    align-items: center;
    width: 8rem;
    height: 2.5rem;
    padding: 0.75rem 0.5rem;
  }

  .cellCustomer{
    display: flex;
    align-items: center;
    width: 20rem;
    height: 2.5rem;
    padding: 0.75rem 0.5rem;
  }